/*location symbol1*/
#loca {
    display: inline-block;
    padding-left: 30px;
  }
#loca:after {
    content: '';
    background: red;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 10px;
    border-radius: 50% 50% 50% 0%;
    transform: rotate(-50deg);
  }
#loca:before {
    content: '';
    background: white;
    width: 8px;
    position: absolute;
    height: 8px;
    left: 16px;
    border-radius: 50%;
    top: 33px;
    z-index: 1;
  }

  /*location symbol1*/
  #loca2 {
    box-sizing: border-box;
      position: relative;
      display: inline-block;
      width: 16px;
      height: 16px;
      border: 5px solid red;
      border-radius: 100%;
  }
  
  #loca2::after {
      position: absolute;
      top: 100%;
      left: 50%;
      margin: 1px 0 0 -6px;
      display: block;
      content: '';
      border: 6px solid transparent;
      border-top: 10px solid red;
      border-bottom: none;
  }